// .banner{
// height: 100vh;
// text-align: center;
//
// color: white;
// }
//
// .banner-content{
//   padding: 200px;
// }

.banner{
  height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content{
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  font-style: bold;
}
